@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {
    fontFamily: Helvetica, Arial, "_sans";
    fontSize: 12;
}

s|Button {
    skinClass: ClassReference("ru.rknrl.niceskins.ButtonSkin");
    fontFamily: Helvetica, Arial, "_sans";
    fontSize: 12;
}

s|TextInput {
    skinClass: ClassReference("ru.rknrl.niceskins.TextInputSkin");
    fontSize: 12;
    fontFamily: Helvetica, Arial, "_sans";
    showPromptWhenFocused: false;
}

s|NumericStepper {
    skinClass: ClassReference("ru.rknrl.niceskins.NumericStepperSkin");
    fontSize: 12;
}

s|DataGrid {
    skinClass: ClassReference("ru.rknrl.niceskins.DataGridSkin");
    fontSize: 12;
}

s|DropDownList {
    skinClass: ClassReference("ru.rknrl.niceskins.DropDownListSkin");
    fontSize: 12;
}

s|CheckBox {
    skinClass: ClassReference("ru.rknrl.niceskins.CheckBoxSkin");
    fontSize: 12;
}

s|Form {
    skinClass: ClassReference("ru.rknrl.niceskins.FormSkin");
    fontSize: 12;
}

s|FormItem {
    skinClass: ClassReference("ru.rknrl.niceskins.FormItemSkin");
    fontSize: 12;
}

s|Scroller {
    skinClass: ClassReference("ru.rknrl.niceskins.ScrollerSkin");
}

s|HScrollBar {
    skinClass: ClassReference("ru.rknrl.niceskins.HScrollBarSkin");
}

s|VScrollBar {
    skinClass: ClassReference("ru.rknrl.niceskins.VScrollBarSkin");
}

mx|DateField {
    textInputStyleName: "dateFieldTextInput";
}

.dateFieldTextInput {
    fontFamily: Helvetica, Arial, "_sans";
    borderSkin: ClassReference("ru.rknrl.niceskins.DateFieldTextInputBorderSkin");
    fontSize: 12;
    paddingRight: 10;
    paddingLeft: 10;
    paddingTop: 10;
    paddingBottom: 8;
}